<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>
        <title>Blog page</title>
        
    </head>
    <body>
        <!-- <%= blog   %> -->
        <div class="container mt-4">
            <h1><%= blog.title %></h1>
            <img src="<%= blog.coverImageUrl %>" alt="" width="700px">
            <pre>
                <%= blog.body %>
            </pre>
        </div>

        <div class="container mt-2 d-flex ">
            <img src="<%= blog.createdBy.profilePic %>" alt="" width="100px " class="mx-4">
            <h3>Created by <%= blog.createdBy.fullName %> </h3>
        </div>


        <% if (locals.user) { %>
            <div class="container mt-4">
                <form action="/blog/comment/<%= blog._id %>/" method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control" name="content" placeholder="Add a comment">
                      </div>
                      <button type="submit" class="btn btn-sm  btn-primary">Submit</button>
    
                </form>
            </div>
         
        <% } %>

        <div class="container mt-4">
            <h1>Comments (<%= comments.length  %>)</h1>
            <% comments.forEach(comment => { %>
                <div>
                    <img src="<%= comment.createdBy.profilePic %>" alt="" width="50px">
                    <h5><%= comment.createdBy.fullName %></h5>
                    <pre><%= comment.content %></pre>
                </div>
             
            <% }) %>
        </div>
        
    
        <%- include('./partials/scripts') %>
    </body>
</html>